<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OncoBridge - Social Platform for Cancer Patients</title>
  <meta name="description" content="Connect with peers, share experiences, and find trusted oncology specialists on OncoBridge.">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=5">
  
  <!-- React and ReactDOM -->
  <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
  
  <!-- Babel for JSX compilation in the browser -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
  <div id="root"></div>

  <!-- React Application Component -->
  <script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}?v=5"></script>
</body>
</html>
